h1 {
    background-color: rgba(223, 215, 215, 0.774); /* cor do fundo da borda */
    height: 300px; /* altura borda */
    width: 300px; /* largura borda */
    border-width: 10px; /* espessura da borda */
    border-style: solid; /* tipo de linha da borda */
    border-color: rgb(74, 180, 74); /* a cor da linha da borda */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

a {
    background-color: rgb(241, 154, 154);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(141, 12, 12);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}