h1 {
    background-color: rgb(173, 169, 169); /* cor do fundo da borda */
    height: 300px; /* altura borda */
    width: 300px; /* largura borda */
    border-width: 10px; /* espessura da borda */
    border-style: solid; /* tipo de linha da borda */
    border-color: rgb(74, 180, 74); /* a cor da linha da borda */
    padding: 10px; /* espaço interno */
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

a {
    background-color: rgb(241, 154, 154);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(250, 5, 5);
    
}