body {
  background-color: rgba(92, 236, 147, 0.541);
}

header {
    background-color: rgba(15, 87, 5, 0.534);
    height: 210px;
    width: auto;
    margin: auto;
    padding-top: 40px;

}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-align: center;
}

.pdoheader {
    color: aliceblue;
    text-align: center;
    
}

nav{
    display: flex;
    background-color: rgba(13, 95, 24, 0.397);
    margin: 1px;
    padding: 1px;
}

a{
    text-align: center;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;
}

main{

    background-color: rgb(252, 252, 252);
    margin: auto;
    width: 1200px;
    height: 1550px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);
}



h2 {

}

h3 {

}

h4 {

}

footer {
    color: aliceblue;
    text-align: center;
    background-color: rgba(1, 22, 1, 0.692);
    padding: 2px;
    margin: 0;
}

.imagemgrande{
    text-align: center;
}


#pdif {
    background-color: rgb(117, 202, 117);
    color: rgb(255, 255, 255);;
}